html {
  font-family: "IranSansMedium";
  font-size: 62.5%;
}

.container-w {
  max-width: 1240px;
  margin: 0 auto;
}
.btn--primary {
  color: var(--clr--white);
  background-color: var(--clr--primary-500);
  cursor: pointer;
  border: none;
}
.header {
  background-color: #f7f7f7;
}
.navbar {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  max-height: 6rem;
  padding: 1.2rem 0.785rem;
}

.navbar__contact {
  display: flex;
  gap: 2rem;
}
.navbar__contact__text {
  font-size: 1.4rem;
  color: var(--clr--text-200);
}
.bale__logo {
  width: 22px;
  height: auto;
}

.arbain__logo {
  height: 3.6rem;
}

.container-w {
  padding: 1.785rem 2rem;
}
.stepone {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.stepone__text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-align: justify;
  padding: 1rem 1.2rem;
  font-family: "IranSansMedium";
  color: var(--clr--text-200);
}
.stepone__btn {
  font-size: 1.5rem;
  height: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95vw;
  border-radius: 16px;
}
.stepone__title {
  color: var(--clr--text-600);
  font-size: 1.8rem;
}

.stepone__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 375px) {
  .stepone {
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar {
    max-height: 9.6rem;
    padding: 1.2rem 3.6rem;
  }
  .navbar__contact__text {
    font-size: 1.8rem;
  }
  .arbain__logo {
    height: 6.4rem;
  }
  .bale__logo {
    width: 3.2rem;
    height: auto;
  }
}

@media screen and (min-width: 1366px) {
  .navbar {
    width: 1240px;
  }
}
