/* fonts  */

@font-face {
  font-family: "IranSansUltraLight";
  src: url("../Fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansLight";
  src: url("../Fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansMedium";
  src: url("../Fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansBold";
  src: url("../Fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansBlack";
  src: url("../Fonts/IRANSansWeb_Black.ttf") format("truetype");
}

html {
  font-family: "IranSansUltraLight";
}

body {
  max-width: 100%;
  background-color: #dee3ea;
  display: flex;
  justify-content: center;
}

:root {
  --clr--primary-500: #49dbae;
  --clr--primary-200: #2bfca4;
  --clr--seceondry: #313872;
  --clr--text-100: #5e6c84;
  --clr--text-200: #42526e;
  --clr--text-300: #2f3776;
  --clr--text-400: #161c4e;
  --clr--text-600: #091e42;
  --clr--gray: #8e93bc4d;
  --clr--muted--text: #c6d5de3d;
  --clr--rinbow-gr: linear-gradient(-90deg, #8667d0, #cd42a7, #e94c79, #f88c5e);
  --clr--white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: var(--clr--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

/* begin header */

.header {
  overflow: hidden;
  background-color: #222;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__Menusite {
  background-color: var(--clr--white);
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header__Menusite__item {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.logo {
  width: 3.5rem;
}

.Menusite__titel a {
  font-size: 1.9rem;
  color: var(--clr--text-400);
  text-decoration: none;
  list-style: none;

}

.Menusite__description {
  color: var(--clr--text-400);
  font-size: 0.7rem;
}

.header #myLinks {
  display: none;
  padding: 20px 40px;
}

.header__Menohamburger a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  padding: 14px 16px;
}

.header a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.header__des-menu {
  display: none;
}

.header__Menusite__text {
  display: flex;
  flex-direction: column;
}

@media (min-width:550px) {
  .header__Menusite {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }

  .header__Menusite__item {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Menusite__titel a {
    font-size: 2rem;
    font-family: "IranSansBold";
  }

}

@media (min-width:768px) {
  .container {
    width: 95%;
  }
}

@media (min-width:992px) {

  .container {
    width: 85%;
  }

  .header {
    width: 93%;
  }

  .header__Menohamburger>.icon {
    display: none !important;
  }

  .fa-search:before {
    content: "\f002";
    color: #506690;
  }

  .header__des-menu__item>a {
    padding-right: 15px;
    text-decoration: none;
    font-size: 14px;
    color: #506690;
    font-weight: 600;
  }

  .header__des-menu__item>a:hover {
    color: #43c89e;
  }

  .header__des-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .fa-caret-down:before {
    content: "\f0d7";
    font-family: FontAwesome;
    font-size: 13px;
    margin: 2px 5px 0 0;
    color: gray;
  }

  .header__Menusite {
    padding: 23px 0px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 75%;
    transition: all 0.5s;
  }
}

/* end header */


/* Start Slide Show */


.Slide-show {
  width: 85%;
  height: 200px;
  background: url("/assets/images/1c6eb924-4e22-487d-9c89-7b846ae609c0.jpg");
  background-size: cover !important;
}

@media (min-width:550px) {
  .Slide-show {
    height: 300px;
    width: 87%;
  }
}

@media (min-width:768px) {
  .Slide-show {
    height: 300px;
    width: 91%;
  }
}

@media (min-width:992px) {
  .Slide-show {
    height: 370px;
  }
}

@media (min-width:1200px) {
  .Slide-show {
    height: 500px;
    width: 93%;
  }
}

/* End Slide Show */

/* Start  Slide Show  */

.Boxs-content {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.Boxs-content__item {
  width: 100%;
}

@media (min-width:768px) {
  .Boxs-content__item {
    width: 31%;
  }

  .Boxs-content {
    flex-direction: row;
    width: 91%;
  }
}

@media (min-width:992px) {
  .Boxs-content {
    width: 87%;
  }
}

@media (min-width:1200px) {
  .Boxs-content__item {
    width: 32%;
  }

  .Boxs-content {
    width: 93%;
  }
}

/* Start  Slide Show  */

/* Start  Main content  */


.Main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 41px;
}

.Main-content__cards {
  display: flex;
  width: 87%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  /* row-gap: 53px; */

}

.Main-content__cards>h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px double #eeeeee;
  width: 100%;
  font-size: 16px;
  padding: 12px 0;
  font-weight: 900;

}

.Main-content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

}

.Main-content__card>h2 {
  font-size: 18px;
  font-family: 'IranSansBold';
  color: #161C4E;
}

.Main-content__card>h2 a {
  text-decoration: none;
  color: #161C4E;
}

.Mine-content__logo__imag {
  width: 32px;
  overflow: hidden;
  background-color: rgb(29, 155, 240);
  border-radius: 5px;
}

.Mine-content__logo__imag-bg {
  background-color: rgb(0, 123, 181);
}

.Mine-content__logo__imag-bgg {
  background-color: rgb(1, 102, 255);
}

.Main-content__card-title a {
  color: #2e8eee;
  font-size: 12px;
  font-weight: 900;
  text-decoration: none;
}

.Main-content__card__discription {
  color: #506690;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
}

.Main-content__card>a {
  text-decoration: none;
  color: black;

}

.Mine-content__logo a {
  text-decoration: none;
}

.container__numbers {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.page__numbers {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  text-decoration: none;
}

.bg {
  background-color: #43c89e;
}

.container-number a {
  text-decoration: none;
}

/* start sidebar left */
.sidebar__cards__sotioal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px double #eeeeee;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 0;
}

.sidebar__cards__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  font-size: 1.2rem;
}

.fa-envelope:before {
  content: "\f0e0";
  content: "\f0e1";
  content: "\f099";
  color: white;
  padding: 9px;
  background-color: #F9AE3D;
  border-radius: 50px;
}

.fa-linkedin:before {
  content: "\f0e1";
  color: white;
  border-radius: 50px;
  padding: 9px;
  background-color: #0077B5;
}

.fa-twitter:before {
  content: "\f099";
  color: white;
  padding: 9px;
  border-radius: 50px;
  background-color: #55acee;
}

.sidebar {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container__logo-image {
  width: 16%;
  overflow: hidden;
  background-color: rgb(29, 155, 240);
  border-radius: 50px;
  text-align: center;

}

.sidebar__cards__logo a {
  text-decoration: none;
  padding-top: 1rem;
}

.sidebar__cards__link ul {
  list-style-type: none;
}

.sidebar__cards__link ul li {
  border-bottom: 1px solid rgb(214, 213, 213);
  padding: 10px 0;

}

.sidebar__cards__link-khabar {
  text-decoration: none;
  color: #3c3c3c;
  ;
  font-size: 14px;
  font-weight: 600;
}

.sidebar__cards__label-khabar {
  text-decoration: none;
  color: white;
  background-color: #859BBA;
  margin: 0 1px 1px 0;
  font-size: 13px;
  font-weight: 600;
  padding: 0.4em 0.75em;
}

.sidebar__cards__label {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
}

.sidebar__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  justify-content: center;
}

.inp-submit {
  width: 100%;
  padding: 9px;
  border: 1px;
  background-color: #444;
  color: white;
  font-size: 17px;
  text-align: center;
  font-weight: 800;
}

.inp-email {
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 15px;
  font-size: 14px;
  color: #444;
}

@media(min-width:768px) {


  .Main-content__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: flex-start;

  }

  .container__logo-image {
    width: 15%;
  }

  .sidebar__cards {
    width: 50%;
  }

  .Main-content__card {
    width: 47.8%;
  }

}

@media(min-width:992px) {


  .Main-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 93%;
    justify-content: space-between;

  }

  .Main-content__cards {
    width: 66%;
    row-gap: 50px;
    justify-content: space-between;

  }

  .Main-content__card {
    width: 47.8%;
  }

  .sidebar__cards {
    width: 95%;
  }

  .sidebar {
    width: 32%;
    align-items: flex-end;
  }

  .container__numbers {
    display: flex;
    gap: 9px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

/* @media (min-width:1200px) {
  .container__numbers {
    display: flex;
    gap: 9px;
    width: 100%;
    align-items: center;
    justify-content: center;
  }


} */

/* End  Main content  */

/* Start Footer */

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  background-color: #22283c;
  color: #869ab8;
  flex-wrap: wrap;
}

.footer__Content-categories {
  width: 100%;
  text-align: center;
}

.footer__about-us {
  width: 85%;
  text-align: center;
  line-height: 2rem;
  color: white;
}
.footer__about-us p{
  text-align: justify;
  line-height: 19px;
  font-size: 13px;
}
.footer__Content-categories ul li {
  border-bottom: 1px solid #4e5771;
  list-style: none;
  padding: 8px;
  text-align: right;
}

.footer__Content-categories a {
  text-decoration: none;
  color: white;
}

.footer__Content-categories a:hover {
  color: #29c926;
}

.footer__about-us__titel {
  color: white;
  font-size: 14px;
  line-height: 50px;
}

.footer__site-info {
  width: 100%;
  background-color: #2c354e;
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
}

@media (min-width:768px) {

  .footer {
    flex-direction: row;
    gap: 33px;
  }

  .footer__Content-categories {
    width: 25%;
  }
}

@media (min-width:1024px) {
  .footer{
    align-items: flex-start;
  }


  .footer__about-us,
  .footer__Content-categories {
    width: 29%;
  }

  .footer__Content-categories ul {
    gap: 17px;
  }

}

/* End Footer */