*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

@font-face {
  font-family: "IranSansUltraLight";
  src: url("../Fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansLight";
  src: url("../Fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansMedium";
  src: url("../Fonts/IRANSansWeb_Medium.ttf") format("truetype");
}
@font-face {
  font-family: "IranSansBold";
  src: url("../Fonts/IRANSansWeb_Bold.ttf") format("truetype");
}
@font-face {
  font-family: "IranSansBlack";
  src: url("../Fonts/IRANSansWeb_Black.ttf") format("truetype");
}

@font-face {
  font-family: 'ShabnamLight';
  src: url("../Fonts/Shabnam-Light.ttf") format("truetype");
}

@font-face {
  font-family: 'ShabnamBold';
  src: url("../Fonts/Shabnam-Bold.ttf") format('truetype');
}

:root {
  --clr--primary-500: #0aca9b;
  --clr--primary-200: #2bfca4;
  --clr--seceondry: #313872;
  --clr--text-100: #5e6c84;
  --clr--text-200: #42526e;
  --clr--text-300: #2f3776;
  --clr--text-400: #161c4e;
  --clr--text-600: #091e42;
  --clr--card-bg: #fafbfc;
  --clr--gray: #8e93bc4d;
  --clr--muted--text: #c6d5de3d;
  --clr--rinbow-gr: linear-gradient(-90deg, #8667d0, #cd42a7, #e94c79, #f88c5e);
  --clr--white: #fff;
}
