/* fonts  */
@font-face {
  font-family: "IranSansUltraLight";
  src: url("../Fonts/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansLight";
  src: url("../Fonts/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansMedium";
  src: url("../Fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansBold";
  src: url("../Fonts/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IranSansBlack";
  src: url("../Fonts/IRANSansWeb_Black.ttf") format("truetype");
}

html {
  font-family: "IranSansMedium";
}

:root {
  --clr--primary-500: #49dbae;
  --clr--primary-200: #2bfca4;
  --clr--seceondry: #313872;
  --clr--text-100: #5e6c84;
  --clr--text-200: #42526e;
  --clr--text-300: #2f3776;
  --clr--text-400: #161c4e;
  --clr--text-600: #091e42;
  --clr--gray: #8e93bc4d;
  --clr--muted--text: #c6d5de3d;
  --clr--rinbow-gr: linear-gradient(-90deg, #8667d0, #cd42a7, #e94c79, #f88c5e);
  --clr--white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start box top */
.messaging-services {
  width: 100%;
  background: url(/assets/images/TriangleShadowleft.png) left bottom no-repeat #fff;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.messaging-services__bale {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-direction: column;
  align-items: center;

}

.messaging-services__bale__logo {
  height: 133px;
}

.messaging-services__bale__title {
  color: rgb(47, 55, 118);
  font-size: 2.5rem;
  font-family: "IranSansMedium";
  font-weight: 500;
}

.messaging-services__bale__text {
  font-weight: 400;
  font-size: medium;
  color: #2f3776;
}

.messaging-services__bale__logo-bonk {
  max-height: 90px;
}

.messaging-services__discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 80%;
}

.messaging-services__discription__title {
  line-height: 25px;
  font-weight: 500;
  font-size: 1rem;
  color: #2f3776;
}

.messaging-services__discription__text {
  line-height: 25px;
  font-weight: 400;
  color: #2f3776;
  font-size: 13px;
}

.messaging-services__btn {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  margin-top: 51px;
}

.messaging-services__btn-video--btn {
  width: 163px;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  padding: 6px 0px;
  cursor: pointer;

}

.messaging-services__btn-video {
  width: 163px;
  border-radius: 9px;
  border: 2px solid #6d739f;
  color: #2f3776;
  box-shadow: 0 3px 20px -3pxrgba(109, 115, 159, .3);
}

.messaging-services__btn-download {
  background-color: #49dbae;
  width: 164px;
  border-radius: 9px;
  border: 2px solid #49dbae;
  color: #fff;
}

.messaging-services__btn-big__festival {
  background: #313872;
  color: #fff;
  width: 164px;
  padding: 10px 5px;
  font-size: 14px;
  /* font-weight: 700; */
}

.messaging-services__mota {
  width: 85%;
  display: flex;
  gap: 7px;
  font-size: 14px;
  color: #2f3776;
  text-align: center;
  margin: 23px 0px;
  /* align-items: center;
  justify-content: center; */
}

.messaging-services__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.messaging-services__mota img {
  height: 33px;
}

.messaging-services__image {
  display: none;
}


@media (min-width:762px) {
  .messaging-services__bale {
    flex-direction: row;
    gap: 17px;
  }

  .messaging-services__bale__logo {
    height: 100px;
  }

  .messaging-services__btn {
    flex-direction: row;
    gap: 53px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }

  .messaging-services__btn-big__festival {
    padding: 10px 103px;
    font-size: 16px;
  }

  .messaging-services__discription__text {
    font-size: 14.5px;
  }

  .messaging-services {
    gap: 35px;
  }

  .messaging-services__mota {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 19px;
  }

  .messaging-services__discription__title {
    font-size: 1.2rem;
  }

  .messaging-services__image {
    display: none;
  }
}

@media (min-width:1200px) {

  .messaging-services {
    flex-direction: row;
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .messaging-services__bale {
    width: 100%;
  }

  .messaging-services__container {
    gap: 21px;
  }

  .messaging-services__image {
    width: 33%;
    transition: all .5s ease 0s;
    display: flex;
    justify-content: flex-end;
  }

  .messaging-services__discription {
    width: 63%;
  }

  /* 
  .messaging-services__bale__title {
    font-size: 1.8rem;
  } */

  .messaging-services__mota {
    font-size: 16px;
  }

  .messaging-services__mota img {
    height: 40px;
  }
}


/* Start box top  */


.footer-container {
  background: url(/assets/images/TriangleShadowleft4.png) left bottom no-repeat, url(../img/31.png) right bottom no-repeat #fff;
  background-size: contain, auto;
  /* height: 600px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Download-service {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 62px;
}

.Download-service>h3 {
  color: #2f3776;
  font-weight: 600;
  font-size: 28px;
}

.Download-service>h4 {
  color: #2f3776;
  font-weight: 400;
  font-size: 16px;
}

.Download-service__btn {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 55px;
}

.Download-service__btn__bale {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #edf2f5;
  max-width: 185px;
  min-width: 185px;
  height: 56px;
  font-size: 15px;
  color: #091e42;
  border: 1px solid #dfe5e8;
  text-decoration: none;
  cursor: pointer;
}

.Download-service__btn__text {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}

.Download-service__btn__text-app {
  color: #091e42;
  font-size: 11px;
}

@media (min-width:762px) {

  .Download-service__btn {
    width: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }

}

@media (min-width:1200px) {

  .Download-service__btn {
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }

  .Download-service {
    margin-top: 100px;
  }

}

/* footer bootom */


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/tri_right_dark.png);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: contain;
  border-top: 5px solid #4c5b7b;
  background-color: #35415d;
  color: rgba(198, 213, 222, .24);
  height:300px;

}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  row-gap: 15px;
}

.footer-content__logo,
.footer-content__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* width: 25%; */
}

.footer-content__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer-content__link__social {
  display: flex;
  align-items: center;
  gap: 11px;
}

.fa-telegram:before {
  content: "\f2c6";
  font-size: 19px;
}

.fa-instagram:before {
  content: "\f16d";
  font-size: 19px;
}

.footer-content__logo img {
  height: 37px;
}

.footer-content__links a,
.footer-content__link__social a,
.footer-content__logo > p {
  text-decoration: none;
  color: #c6d5de;
  font-size: 13px;
}

.footer-content__etemad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content__etemad img{
  height: 100px;
  width: 95px;
}
 @media (min-width:768px) {
  .footer-content {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start
  }
 
footer{
  justify-content: flex-end;
}
  .footer-content__logo {
    align-items: flex-end;
  }

  .footer-content__link {
    align-items: flex-start;
  }
}

 @media (min-width:900px) {
  .footer-content {
    justify-content: flex-start;
    width: 75%;

  }

  .footer-content__etemad {
  width: 14%;
  } 
  .footer-content__etemad img{
    height: 150px;
    width: 120px;
    
  }
  }

  @media (min-width:1200px) {
    .footer-content {
      gap: 24px;
      justify-content: flex-start;
    }
   
    .footer-content__link{
      width: 52%;
    }
    }