html {
  font-family: "IranSansMedium";
}
.section {
  height: auto;
  background-color: #fff;
  padding: 5rem 0;
}
.big__wrapper {
  display: flex;
  flex-direction: column;
}
p {
  text-align: justify;
}
img {
  height: 300px;
}
.wrapper {
  max-width: 750px;
  text-align: center;
  padding: 0 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.arbain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text__title {
  color: #2f3776;
  font-size: 2.1rem;
}
.mobile__describe {
  font-size: 1.3rem;
  line-height: 1.9;
  color: #2f3776;
}
.btn__primary {
  width: 100%;
  background-color: #313872;
  color: #fff;
  border-radius: 9px;
  padding: 2rem;
  font-size: 1.4rem;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
